<header ng-include="'/views/templates/header.html'"></header>
<div ng-init="ac.getInfo()">
  <div class="wrapper">
    <div class="container">

      <h2 class="lead">ADMIN PAGE</h2>

      <div class="row">
        <!-- beginning of tabs -->

        <tabset>
          <!-- packs tab -->
          <tab heading="Partners">
            <div class="adminbox">
              <button class="btn btn-info pull-right" ng-click="ac.openPartnerModal()">Add New <i class="fa fa-plus" aria-hidden="true"></i></button>
              <h3 class="lead">PARTNERS</h3>
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Contact</th>
                      <th>Phone</th>
                      <th>Address</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="partners in ac.partners">
                      <td>
                        <thing ng-hide="toggle[partners.id]">{{partners.partner_name}}</thing>
                        <thing ng-show="toggle[partners.id]"><input type="text" ng-model="ac.partner_nameUpdate" placeholder="{{partners.partner_name}}" value="{{partners.partner_name}}"></thing>
                      </td>
                      <td>
                        <thing ng-hide="toggle[partners.id]">{{partners.partner_contact}}</thing>
                        <thing ng-show="toggle[partners.id]"><input type="text" ng-model="ac.partner_contactUpdate" placeholder="{{partners.partner_contact}}" value="{{partners.partner_contact}}"></thing>
                      </td>
                      <td>
                        <thing ng-hide="toggle[partners.id]">{{partners.partner_phone}}</thing>
                        <thing ng-show="toggle[partners.id]"><input type="text" ng-model="ac.partner_phoneUpdate" placeholder="{{partners.partner_phone}}" value="{{partners.partner_phone}}"></thing>
                      </td>
                      <td>
                        <thing ng-hide="toggle[partners.id]">{{partners.partner_address}}</thing>
                        <thing ng-show="toggle[partners.id]"><input type="text" ng-model="ac.partner_addressUpdate" placeholder="{{partners.partner_address}}" value="{{partners.partner_address}}"></thing>
                      </td>
                      <td>
                        <button class="btn btn-success" ng-hide="toggle[partners.id]" ng-click="toggle[partners.id] = !toggle[partners.id]; ac.selectButton()" ng-disabled="ac.selectedButton">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button ng-click="ac.updatePartners(partners); ac.selectButton()" ng-show="toggle[partners.id]" class="btn btn-info">Update <i class="fa fa-check" aria-hidden="true"></i></button>
                      </td>
                      <td>
                        <button class="btn btn-danger" ng-click="ac.deletePartner(partners.id)">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </tab>

          <!-- vendors tab -->
          <tab heading="Vendors">
             <!-- ng-click="ac.selectedButton===" -->
            <div class="adminbox">
              <button class="btn btn-info pull-right" ng-click="ac.openVendorModal()">Add New <i class="fa fa-plus" aria-hidden="true"></i></button>
              <h3 class="lead">VENDORS</h3>
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Address</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vendors in ac.vendors">
                      <td>
                        <thing ng-hide="toggle[vendors.id]">{{vendors.vendor_name}}</thing>
                        <thing ng-show="toggle[vendors.id]"><input type="text" ng-model="ac.vendor_nameUpdate" placeholder="{{vendors.vendor_name}}" value="{{vendors.vendor_name}}"></thing>
                      </td>
                      <td>
                        <thing ng-hide="toggle[vendors.id]">{{vendors.vendor_phone}}</thing>
                        <thing ng-show="toggle[vendors.id]"><input type="text" ng-model="ac.vendor_phoneUpdate" placeholder="{{vendors.vendor_phone}}" value="{{vendors.vendor_phone}}"></thing>
                      </td>
                      <td>
                        <thing ng-hide="toggle[vendors.id]">{{vendors.vendor_email}}</thing>
                        <thing ng-show="toggle[vendors.id]"><input type="text" ng-model="ac.vendor_emailUpdate" placeholder="{{vendors.vendor_email}}" value="{{vendors.vendor_email}}"></thing>
                      </td>
                      <td>
                        <thing ng-hide="toggle[vendors.id]">{{vendors.vendor_address}}</thing>
                        <thing ng-show="toggle[vendors.id]"><input type="text" ng-model="ac.vendor_addressUpdate" placeholder="{{vendors.vendor_address}}" value="{{vendors.vendor_address}}"></thing>
                      </td>
                      <td>
                        <button class="btn btn-success" ng-hide="toggle[vendors.id]" ng-click="toggle[vendors.id] = !toggle[vendors.id]; ac.selectButton()" ng-disabled="ac.selectedButton">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button ng-click="ac.updateVendor(vendors); ac.selectButton()" ng-show="toggle[vendors.id]" class="btn btn-info">Update <i class="fa fa-check" aria-hidden="true"></i></button>
                      </td>
                      <td>
                        <button class="btn btn-danger" ng-click="ac.deleteVendor(vendors.id)">Delete <i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- end table-responsive -->
            </div> <!-- end adminbox -->
          </tab> <!-- end vendors tab -->

          <!-- annual goal tab -->
          <tab heading="Annual Goal">
            <div class="adminbox">
              <div class="col-md-5">
                <h3 class="lead">ANNUAL GOAL</h3>
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Goal</th>
                        <th>Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="goal in ac.annualgoal | orderBy : 'year'">
                        <td>
                          <thing ng-hide="toggle[goal.id]">{{goal.year}}</thing>
                          <thing ng-show="toggle[goal.id]"><input type="text" ng-model="ac.yearUpdate" placeholder="{{goal.year}}" value="{{goal.year}}"></thing>
                        </td>
                        <td>
                          <thing ng-hide="toggle[goal.id]">{{goal.annual_goal}}</thing>
                          <thing ng-show="toggle[goal.id]"><input type="text" ng-model="ac.annual_goalUpdate" placeholder="{{goal.annual_goal}}" value="{{goal.annual_goal}}"></thing>
                        </td>
                        <td>
                          <button class="btn btn-success" ng-hide="toggle[goal.id]" ng-click="toggle[goal.id] = !toggle[goal.id]; ac.selectButton()" ng-disabled="ac.selectedButton">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                          <button ng-click="ac.updateAnnualGoal(goal); ac.selectButton()" ng-show="toggle[goal.id]" class="btn btn-info">Update <i class="fa fa-check" aria-hidden="true"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td><input type="text" name="year" ng-model="ac.year" placeholder="{{current.year}}" value="{{current.year}}"></td>
                        <td><input type="text" name="annual_goal" ng-model="ac.annual_goal" placeholder="{{current.annual_goal}}" value="{{current.annual_goal}}"></td>
                        <td><button type="button" name="button" class="btn btn-info" ng-click="ac.addnewgoal()">Add</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div> <!-- end table-responsive -->
              </div> <!-- end col-md-5 -->
            </div> <!-- end adminbox -->
          </tab> <!-- end annual goal tab -->

      </div> <!-- end row -->
    </div> <!-- end container -->

    <!-- modal -->
    <script type="text/ng-template" id="vendorModal.html">
      <div class="modal-header">
        <div class='btn-toolbar pull-right'>
          <div class='btn-group'>
            <button class="btn" style="background-color:transparent;" ng-click="vc.cancel()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
          </div>
        </div>
        <h3 class="modal-title">Add New Vendor</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <!-- input forms -->
            <form>
              <div class="form-group">
                <label for="vendorName">Vendor Name</label>
                <input type="text" class="form-control" name="vendor_name" id="vendorName" ng-model="vc.vendor_name" placeholder="e.g. The Tee-Shirt Company" value="{{vc.vendors.vendor_name}}">
              </div>
              <div class="form-group">
                <label for="vendorPhone">Phone Number</label>
                <input type="text" class="form-control" name="vendor_phone" id="vendorPhone" ng-model="vc.vendor_phone" placeholder="e.g. 555-5555" value="{{vc.vendors.vendor_phone}}">
              </div>
              <div class="form-group">
                <label for="vendorEmail">Vendor Email</label>
                <input type="email" class="form-control" name="vendor_email" id="vendorEmail" ng-model="vc.vendor_email" placeholder="e.g. vendor@theteeshirtcompany.com" value="{{vc.vendors.vendor_email}}">
              </div>
              <div class="form-group">
                <label for="vendorAddress">Vendor Address</label>
                <input type="text" class="form-control" name="vendor_address" id="vendorAddress" ng-model="vc.vendor_address" placeholder="e.g. 123 Smith Lane" value="{{vc.vendors.vendor_address}}">
              </div>
            </form>
          </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
      </div> <!-- end modal body -->
  </div> <!-- end wrapper -->

  <!-- post button -->
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vc.postVendor()">Create</button>
  </div>

  </script>
  <!-- end modal -->

  <!-- modal -->
  <script type="text/ng-template" id="partnerModal.html">
    <div class="modal-header">
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
          <button class="btn" style="background-color:transparent;" ng-click="pc.cancel()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
        </div>
      </div>
      <h3 class="modal-title">Add New Partner</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <!-- input forms -->
          <form>
            <div class="form-group">
              <label for="partner">Partner Name</label>
              <input type="text" class="form-control" name="partner_name" ng-model="pc.partner_name" placeholder="e.g. Smith Hospital" value="{{pc.partners.partner_name}}">
            </div>
            <div class="form-group">
              <label for="partner">Partner Contact</label>
              <input type="text" class="form-control" name="partner_phone" ng-model="pc.partner_phone" placeholder="e.g. 555-5555" value="{{pc.partners.partner_phone}}">
            </div>
            <div class="form-group">
              <label for="partner">Partner Phone</label>
              <input type="text" class="form-control" name="partner_contact" ng-model="pc.partner_contact" placeholder="e.g. jane@smithhospital.com" value="{{pc.partners.partner_contact}}">
            </div>
            <div class="form-group">
              <label for="partner">Partner Address</label>
              <input type="text" class="form-control" name="partner_address" ng-model="pc.partner_address" placeholder="e.g. 123 Smith Lane " value="{{pc.partners.partner_address}}">
            </div>
          </form>
        </div> <!-- end col-md-12 -->
      </div> <!-- end row -->
    </div> <!-- end modal body -->

    <!-- post button -->
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="pc.postPartner()">Create</button>
    </div>

  </script>
  <!-- end modal -->
