<div ng-init="ec.getEvents()">
  <div class="bg">
    <div class="wrapper">
      <h2>Event Tracker</h2>
      <div class="rows">
        <!-- beginning of tabs -->
        <tabset>
          <h5 class="pull-right">View Events For
          <input type="date" id="date" value="Select Month" ng-model="ec.dateInput" class="pull-right"></h5>
          <!-- packs tab -->
          <tab heading="Donation Events" ng-init="ec.getEvents()">
            <div class="table-responsive">

              <table class="table table-bordered table-hover">
                <!-- header with sort -->
                <thead>
                  <tr>
                    <th>
                      <a ng-click='ec.sortColumn("event_date"); arrow = !arrow' ng-class='ec.sortClass("event_date")'>Date
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("event_time"); arrow = !arrow' ng-class='ec.sortClass("event_time")'>Time
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("partner_id"); arrow = !arrow' ng-class='ec.sortClass("partner_id")'>Event Partner
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("packs_promised"); arrow = !arrow' ng-class='ec.sortClass("packs_promised")'>Packs Promised
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("packs_needed"); arrow = !arrow' ng-class='ec.sortClass("packs_needed")'>Packs Needed
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("comments"); arrow = !arrow' ng-class='ec.sortClass("comments")'>Comments
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      Edit / Delete
                    </th>
                  </tr>
                </thead>
                <tr ng-repeat="events in ec.events track by $index" ng-if="events.event_type=='Donation'">
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_date | date:"MM/dd/yyyy"}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.event_dateUpdate" placeholder="{{events.event_date | date:" MM/dd/yyyy "}}" value="{{events.event_date | date:" MM/dd/yyyy "}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_time}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.event_timeUpdate" placeholder="{{events.event_time}}" value="{{events.event_time}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.partner_id}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.partner_idUpdate" placeholder="{{events.partner_id}}" value="{{events.partner_id}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.packs_promised}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.packs_promisedUpdate" placeholder="{{events.packs_promised}}" value="{{events.packs_promised}}"></thing>
                  </td>
                  <td>
                    <thing>{{events.packs_needed}}</thing>
                    <!-- <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.packs_neededUpdate" placeholder="{{events.packs_needed}}" value="{{events.packs_needed}}"></thing> -->
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.comments}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.commentsUpdate" placeholder="{{events.comments}}" value="{{events.comments}}"></thing>
                  </td>
                  <td>
                    <button class="btn btn-success" ng-hide="toggle[events.id]" ng-click="toggle[events.id] = !toggle[events.id]">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button ng-click="ec.updateDonationEvents(events.id)" ng-show="toggle[events.id]" class="btn btn-default">Update</button>
                    <button class="btn btn-danger" ng-click="ec.deleteEvent(events.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button class="btn btn-warning" ng-click="ec.deleteEvent(events.id)">X</button>
                  </td>
                  <!-- //mc.deleteOrder(x._id) -->
                </tr>
              </table>
            </div>

          </tab>


          <tab heading="Packing Events">
            <div class="table-responsive">

              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>
                      <a ng-click='ec.sortColumn("event_date"); arrow = !arrow' ng-class='ec.sortClass("event_date")'>Date
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("event_time"); arrow = !arrow' ng-class='ec.sortClass("event_time")'>Time
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("partner_id"); arrow = !arrow' ng-class='ec.sortClass("partner_id")'>Event Partner
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("packs_promised"); arrow = !arrow' ng-class='ec.sortClass("packs_promised")'>Packs Promised
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("packs_needed"); arrow = !arrow' ng-class='ec.sortClass("packs_needed")'>Packs Needed
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("comments"); arrow = !arrow' ng-class='ec.sortClass("comments")'>Comments
                          <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                          <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                        </a>
                    </th>
                    <th>
                      Edit / Delete
                    </th>
                  </tr>
                </thead>
                <tr ng-repeat="events in ec.events track by $index" ng-if="events.event_type=='Packing'">
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_date | date:"MM/dd/yyyy"}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.event_dateUpdate" placeholder="{{events.event_date | date:" MM/dd/yyyy "}}" value="{{events.event_date | date:" MM/dd/yyyy "}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_time}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.event_timeUpdate" placeholder="{{events.event_time}}" value="{{events.event_time}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.partner_id}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.partner_idUpdate" placeholder="{{events.partner_id}}" value="{{events.partner_id}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.packs_made}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.packs_madeUpdate" placeholder="{{events.packs_made}}" value="{{events.packs_made}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.comments}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.commentsUpdate" placeholder="{{events.comments}}" value="{{events.comments}}"></thing>
                  </td>
                  <td>
                    <button class="btn btn-success" ng-hide="toggle[events.id]" ng-click="toggle[events.id] = !toggle[events.id]">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button ng-click="ec.updatePackEvents(events.id)" ng-show="toggle[events.id]" class="btn btn-default">Update</button>
                    <button class="btn btn-danger" ng-click="ec.deleteEvent(events.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button class="btn btn-warning" ng-click="ec.deleteEvent(events.id)">X</button>
                  </td>
                </tr>
              </table>
            </div>
          </tab>
      </div>
    </div>
  </div>
</div>

<!-- Event modal creation - DO NOT DELETE!!! -->
<!-- <section>
  <!-- <div class="container"> -->
<!-- <div class="col-sm-6 col-sm-offset-3 text-center">
      <form ng-submit="ec.createEvent()">
        <div class="wrapper">
          <div>
            <input type="text" ng-model="ecevent_date" class="input100" placeholder="Date" />
          </div>
          <div>
            <input type="text" ng-model="ec.event_time" class="input100" placeholder="Time" />
          </div>
          <div>
            <input type="number" ng-model="ec.partner_id" class="input100" placeholder="Partner" />
          </div>
          <div>
            <select label="-- Select option --" class="form-control input-lg input100" ng-model="ec.event_type" placeholder="What type of event?">
    <option value="" selected disabled><span class="selectlabel">What type of event?</span></option>
  <option class="form-control input-lg input100" value="Donation">Donation Event</option>
  <option class="form-control input-lg input100" value="Packing">Packing Event</option>
  </select>
            <input class="form-control input-lg input100" ng-model="ec.packs_promised" ng-show="ec.event_type=='Donation'" placeholder="How many Packs promised?" type="text">
            <input class="form-control input-lg input100" ng-model="ec.packs_made" ng-show="ec.event_type=='Packing'" placeholder="How many Packs made?" type="text">
          </div>
          <input class="btn btn-default input100" type="submit" name="submit" value="Create" />
          <!-- <button class="btn btn-default input100" ng-click="ec.createEvent()">Create Event</button> -->
<!-- </form>
      </div>
    </div>
  </div>
</section>  -->
<!-- DO NOT DELETE -->

<div ng-controller="EventsController as ec">
  <section>
    <div class="wrapper">
      <h3>Pack Totals</h3>
      <div class="table-responsive">

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <a ng-click='ec.sortColumn("event_date"); arrow = !arrow' ng-class='ec.sortClass("event_date")'>Needed Packs
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
              </th>
              <th>
                <a ng-click='ec.sortColumn("event_time"); arrow = !arrow' ng-class='ec.sortClass("event_time")'>Packs Currently Made
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
              </th>
              <th>
                <a ng-click='ec.sortColumn("partner_id"); arrow = !arrow' ng-class='ec.sortClass("partner_id")'>CTD Annual Packs Donated
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
              </th>
              <th>
                Edit / Delete
              </th>
            </tr>
          </thead>
          <tr ng-repeat="events in ec.events track by $index" ng-if="events.event_type=='Packing'">
            <td>
              <thing ng-hide="toggle[events.id]">{{events.needed_packs}}</thing>
              <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.event_neededPacksUpdate" placeholder="{{events.needed_packs }}" value="{{events.needed_packs}}"></thing>
            </td>
            <td>
              <thing ng-hide="toggle[events.id]">{{events.event_time}}</thing>
              <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.event_timeUpdate" placeholder="{{events.event_time}}" value="{{events.event_time}}"></thing>
            </td>
            <td>
              <thing ng-hide="toggle[events.id]">{{events.partner_id}}</thing>
              <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.partner_idUpdate" placeholder="{{events.partner_id}}" value="{{events.partner_id}}"></thing>
            </td>
            <td>
              <button class="btn btn-success" ng-hide="toggle[events.id]" ng-click="toggle[events.id] = !toggle[events.id]">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button ng-click="ec.updatePackEvents(events.id)" ng-show="toggle[events.id]" class="btn btn-default">Update</button>
              <button class="btn btn-danger" ng-click="ec.deleteEvent(events.id)"><i class="fa fa-times" aria-hidden="true"></i></button>
              <button class="btn btn-warning" ng-click="ec.deleteEvent(events.id)">X</button>
            </td>
          </tr>
        </table>
      </div>
      </tab>
    </div>
</div>
</div>
</section>
