<header ng-include="'/views/templates/header.html'"></header>
<div class="wrapper">
  <div class="container" ng-init="ec.getEvents();ec.getPackTotals()">

    <!-- events -->
    <div class="col-md-12">
      <div class="wrapper">
        <h2 class="lead">EVENT TRACKER</h2>
        <button class="btn btn-info pull-right" ng-click="ec.openAddNew()">Add New <i class="fa fa-plus" aria-hidden="true"></i></button>
        <div class="pull-right totals">Needed Packs: <b>{{ ec.neededPacks[0] }}</b> | Packs Currently Made: <b>{{ ec.packsMade[0] }}</b> | CTD Annual Packs Donated: <b>{{ ec.packsDonated[0] }}</b></div>
        <tabset>
          <tab heading="Donation Events">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <!-- header with sort -->
                <thead>
                  <tr>
                    <th>
                      <a ng-click='ec.sortColumn("event_date"); arrow = !arrow' ng-class='ec.sortClass("event_date")'>Date
                      <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                      <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                    </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("event_time"); arrow = !arrow' ng-class='ec.sortClass("event_time")'>Time
                      <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                      <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                    </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("partner_name"); arrow = !arrow' ng-class='ec.sortClass("partner_name")'>Event Partner
                      <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                      <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                    </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("packs_promised"); arrow = !arrow' ng-class='ec.sortClass("packs_promised")'>Packs Promised
                      <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                      <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                    </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("comments"); arrow = !arrow' ng-class='ec.sortClass("comments")'>Comments
                      <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                      <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                    </a>
                    </th>
                    <th>Edit / Delete</th>
                  </tr>
                </thead>
                <tr ng-repeat="events in ec.donationList.slice(((ec.currentPage-1)*ec.itemsPerPage), ((ec.currentPage)*ec.itemsPerPage)) | orderBy:ec.column:ec.reverse">
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_date | date:"MM/dd/yyyy"}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="date" ng-model="ec.event_dateUpdate" placeholder="{{events.event_date | date:'MM/dd/yyyy'}}" value="{{events.event_date | date:'MM/dd/yyyy'}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_time | date:"shortTime" }}</thing>
                    <thing ng-show="toggle[events.id]"><input type="time" ng-model="ec.event_timeUpdate" placeholder="{{events.event_time}}" value="{{events.event_time}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.partner_name}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.partner_nameUpdate" placeholder="{{events.partner_name}}" value="{{events.partner_name}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.packs_promised}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="number" ng-model="ec.packs_promisedUpdate" placeholder="{{events.packs_promised}}" value="{{events.packs_promised}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.comments}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.commentsUpdate" placeholder="{{events.comments}}" value="{{events.comments}}"></thing>
                  </td>
                  <td>
                    <button class="btn btn-success" ng-hide="toggle[events.id]" ng-click="toggle[events.id] = !toggle[events.id]; ec.selectButton()" ng-disabled="ec.selectedButton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button ng-click="ec.updateDonationEvents(events); ec.selectButton()" ng-show="toggle[events.id]" class="btn btn-info">Update <i class="fa fa-check" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" ng-click="ec.deleteEvent(events.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </table>
              <!-- pagination -->
              <div class="pull-right">
                <pagination total-items="ec.donationList.length" ng-model="ec.currentPage" items-per-page="ec.itemsPerPage" class="pagination-sm" ng-change="ec.pageChanged()"></pagination>
              </div>
              <div class="pull-left">
                <p>View
                  <select ng-model="ec.viewBy" ng-change="ec.setItemsPerPage(ec.viewBy)">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
              </select> items at a time.</p>
              </div>
            </div>
          </tab>
          <!-- end donation events -->

          <!-- begin packing events -->
          <tab heading="Packing Events" select="ec.getPacks()">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <!-- header with sort -->
                <thead>
                  <tr>
                    <th>
                      <a ng-click='ec.sortColumn("event_date"); arrow = !arrow' ng-class='ec.sortClass("event_date")'>Date
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("event_time"); arrow = !arrow' ng-class='ec.sortClass("event_time")'>Time
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("partner_name"); arrow = !arrow' ng-class='ec.sortClass("partner_name")'>Event Partner
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("packs_made"); arrow = !arrow' ng-class='ec.sortClass("packs_made")'>Packs Made
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("comments"); arrow = !arrow' ng-class='ec.sortClass("comments")'>Comments
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>Edit / Delete</th>
                  </tr>
                </thead>
                <tr ng-repeat="events in ec.packList.slice(((ec.currentPage-1)*ec.itemsPerPage), ((ec.currentPage)*ec.itemsPerPage)) | orderBy:ec.column:ec.reverse">
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_date | date:"MM/dd/yyyy"}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="date" ng-model="ec.event_dateUpdate" placeholder="{{events.event_date | date:'MM/dd/yyyy'}}" value="{{events.event_date | date:" MM/dd/yyyy "}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_time | date:"shortTime" }}</thing>
                    <thing ng-show="toggle[events.id]"><input type="time" ng-model="ec.event_timeUpdate" placeholder="{{events.event_time}}" value="{{events.event_time}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.partner_name}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.partner_nameUpdate" placeholder="{{events.partner_name}}" value="{{events.partner_name}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.packs_made}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="number" ng-model="ec.packs_madeUpdate" placeholder="{{events.packs_made}}" value="{{events.packs_made}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.comments}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.commentsUpdate" placeholder="{{events.comments}}" value="{{events.comments}}"></thing>
                  </td>
                  <td>
                    <button class="btn btn-success" ng-hide="toggle[events.id]" ng-click="toggle[events.id] = !toggle[events.id]; ec.selectButton()" ng-disabled="ec.selectedButton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button ng-click="ec.updatePackEvents(events); ec.selectButton()" ng-show="toggle[events.id]" class="btn btn-info">Update <i class="fa fa-check" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" ng-click="ec.deleteEvent(events.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </table>
              <!-- pagination -->
              <div class="pull-right">
                <pagination total-items="ec.packList.length" ng-model="ec.currentPage" items-per-page="ec.itemsPerPage" class="pagination-sm" ng-change="ec.pageChanged()"></pagination>
              </div>
              <div class="pull-left">
                <p>View
                  <select ng-model="ec.viewBy" ng-change="ec.setItemsPerPage(ec.viewBy)">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
              </select> items at a time.</p>
              </div>
            </div>

          </tab>
          <!-- end packing events tab -->

          <!-- past events tab -->
          <tab heading="Past Events" select="ec.getPast()">
            <div class="table-responsive">

              <table class="table table-bordered table-hover">
                <!-- header with sort -->
                <thead>
                  <tr>
                    <th>
                      <a ng-click='ec.sortColumn("event_date"); arrow = !arrow' ng-class='ec.sortClass("event_date")'>Date
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("event_time"); arrow = !arrow' ng-class='ec.sortClass("event_time")'>Time
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("partner_name"); arrow = !arrow' ng-class='ec.sortClass("partner_name")'>Event Partner
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("packs_promised"); arrow = !arrow' ng-class='ec.sortClass("packs_promised")'>Packs Promised
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("packs_needed"); arrow = !arrow' ng-class='ec.sortClass("packs_needed")'>Packs Made
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>
                      <a ng-click='ec.sortColumn("comments"); arrow = !arrow' ng-class='ec.sortClass("comments")'>Comments
                        <thing ng-hide="arrow"><i class="fa fa-sort-desc" aria-hidden="true"></i></thing>
                        <thing ng-show="arrow"><i class="fa fa-sort-asc" aria-hidden="true"></i></thing>
                      </a>
                    </th>
                    <th>Edit / Delete</th>
                  </tr>
                </thead>
                <tr ng-repeat="events in ec.pastList.slice(((ec.currentPage-1)*ec.itemsPerPage), ((ec.currentPage)*ec.itemsPerPage)) | orderBy:ec.column:ec.reverse">
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_date | date:"MM/dd/yyyy"}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="date" ng-model="ec.event_dateUpdate" placeholder="{{events.event_date | date:" MM/dd/yyyy "}}" value="{{events.event_date | date:" MM/dd/yyyy "}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.event_time | date:"shortTime" }}</thing>
                    <thing ng-show="toggle[events.id]"><input type="time" ng-model="ec.event_timeUpdate" placeholder="{{events.event_time}}" value="{{events.event_time}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.partner_name}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.partner_nameUpdate" placeholder="{{events.partner_name}}" value="{{events.partner_name}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.packs_promised}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="number" ng-model="ec.packs_promisedUpdate" placeholder="{{events.packs_promised}}" value="{{events.packs_promised}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.packs_made}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="number" ng-model="ec.packs_madeUpdate" placeholder="{{events.packs_made}}" value="{{events.packs_made}}"></thing>
                  </td>
                  <td>
                    <thing ng-hide="toggle[events.id]">{{events.comments}}</thing>
                    <thing ng-show="toggle[events.id]"><input type="text" ng-model="ec.commentsUpdate" placeholder="{{events.comments}}" value="{{events.comments}}"></thing>
                  </td>
                  <td>
                    <button class="btn btn-success" ng-hide="toggle[events.id]" ng-click="toggle[events.id] = !toggle[events.id]; ec.selectButton()" ng-disabled="ec.selectedButton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button ng-click="ec.updateDonationEvents(events); ec.selectButton()" ng-show="toggle[events.id]" class="btn btn-info">Update <i class="fa fa-check" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" ng-click="ec.deleteEvent(events.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </table>
              <!-- pagination -->
              <div class="pull-right">
                <pagination total-items="ec.pastList.length" ng-model="ec.currentPage" items-per-page="ec.itemsPerPage" class="pagination-sm" ng-change="ec.pageChanged()"></pagination>
              </div>
              <div class="pull-left">
                <p>View
                  <select ng-model="ec.viewBy" ng-change="ec.setItemsPerPage(ec.viewBy)">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
              </select> items at a time.</p>
              </div>
            </div>
            <!-- end table responsive -->
          </tab>
        </tabset>

        <!-- event modal -->
        <script type="text/ng-template" id="eventModal.html">
          <div class="modal-header">
            <div class='btn-toolbar pull-right'>
              <div class='btn-group'>
                <button class="btn" style="background-color:transparent;" ng-click="ec.cancel()"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
              </div>
            </div>
            <h3 class="modal-title">New Event</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <!-- input forms -->
                <form>
                  <div class="form-group">
                    <label>Date:</label for="date">
                      <input type="date" class="modalInput form-control" id="date" ng-model="ec.event_date">
                  </div>
                  <div class="form-group">
                    <label>Time:</label for="time">
                      <div>
                        <input type="time" id="time" class="form-control" id="time" name="time" ng-model="ec.event_time" placeholder="HH:mm:ss"/><p>e.g. 05:00 pm</p>
                      </div>
                  </div>
            <div class="form-group">
              <label>Type of Event:</label for="eventType">
                <select label="-- Select option --" class="form-control" id="eventType" ng-model="ec.event_type" placeholder="What type of event?">
                  <option value="" selected disabled><span class="selectlabel">What type of event?</span></option>
                  <option class="form-control input-lg input100" value="Donation">Donation Event</option>
                  <option class="form-control input-lg input100" value="Packing">Packing Event</option>
                </select>
            </div>
            <div class="form-group">
              <label>Partner:</label for="partner">
                <div> <!-- to avoid button from being inline with label -->
                  <thing ng-hide="partnerToggle">
                    <select label="-- Select option --" class="form-control" ng-model="ec.partner">
                      <option value="" selected disabled><span class="selectlabel">Previously Used Partner</span></option>
                      <option ng-repeat="partners in ec.partners | unique: 'partner_name'" class="form-control input-lg input100" value="{{partners.partner_name}}">{{partners.partner_name}}</option>
                    </select>
                  </thing>
                  <!-- toggle add vendor -->
                  <button class="btn btn-default btn-sm" id="vendorBtn" ng-click="ec.isCollapsed = !ec.isCollapsed; partnerToggle = !partnerToggle">
                    <thing ng-show="partnerToggle">Previous Partners <i class="fa fa-chevron-left" aria-hidden="true"></i></thing>
                    <thing ng-hide="partnerToggle">New Partner <i class="fa fa-plus" aria-hidden="true"></i></thing>
                  </button>
  	              <div collapse="ec.isCollapsed">
                    <input type="text" id="partnerInputs" class="modalInput form-control" placeholder="Partner name" ng-model="ec.partner_name">
                    <input type="text" id="partnerInputs" class="modalInput form-control" placeholder="Partner phone number" phone-input ng-model="ec.partner_phone">
                    <input type="text" id="partnerInputs" class="modalInput form-control" placeholder="Partner contact" ng-model="ec.partner_contact">
                    <input type="text" id="partnerInputs" class="modalInput form-control" placeholder="Partner address" ng-model="ec.partner_address">
  	              </div>
                </div>
            </div>
            <div class="form-group" ng-show="ec.event_type=='Packing'">
              <label>Packs Made:</label for="packsMade">
                <input type="number" class="modalInput form-control" placeholder="e.g. 50" id="packsMade" ng-model="ec.packs_made">
            </div>
            <div class="form-group" ng-show="ec.event_type=='Donation'">
              <label>Packs Promised:</label for="packsPromised">
                <input type="number" class="modalInput form-control" placeholder="e.g. 250" id="packsPromised" ng-model="ec.packs_promised">
            </div>
            <div class="form-group">
              <label>Comments:</label for="comments">
                <textarea type="text" rows="3" class="modalInput form-control" placeholder="Any extra notes you'd like to leave?" id="comments" ng-model="ec.comments"></textarea>
            </div>
          </form>
        </div> <!-- end col-md-12 -->
      </div>
    </div>
  </div>
<!-- create button -->
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ec.postEvent(); ec.postPartner()">Create</button>
    </div>
  </script>
<!-- end modal -->

</div>
</div>
</div>
