<header ng-include="'/views/templates/header.html'"></header>
<div class="wrapper">
  <div class="container" ng-init="ec.getEvents();ec.getPackTotals()">

    <h2 class="lead">TOTALS</h2>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th>Needed Packs</th>
            <th>Packs Currently Made</th>
            <th>CTD Annual Packs Donated</th>
          </tr>
        </thead>
        <tr>
          <div ng-repeat="data in ec.packTotals track by $index">
            <td>
              <h3>{{ ec.neededPacks[0] }}</h3></td>
            <td>
              <h3>{{ ec.packsMade[0] }}</h3></td>
            <td>
              <h3>{{ ec.packsDonated[0] }}</h3></td>
          </div>
        </tr>
        </thead>
      </table>
    </div>


    <!-- events -->

    <!-- </div> -->
    <!-- create button -->
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ec.postEvent(); ec.postPartner()">Create</button>
    </div>
    </script>
    <!-- end modal -->

  </div>
</div>
</div>
