<section>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h1 id="welcome" class="lead">Welcome, {{userName}}!</h1>
        <hr>
        <button class="btn btn-default" ng-click="logout()">Log Out</button>
      </div>
    </div>
  </div>
</section>

<div ng-controller="InventoryController as ic" class="container">

<section>
  <h3>Inventory</h3>
  <br>
  <br>
  <!-- <div class="container">
  <div class="row seven-cols">
    <div class="col-md-1">Item</div>
    <div class="col-md-1">Vendor</div>
    <div class="col-md-1">Quantity on Hand</div>
    <div class="col-md-1">Date Ordered</div>
    <div class="col-md-1">Next Shipment Date</div>
    <div class="col-md-1">Cost</div>
    <div class="col-md-1">Reorder Alert Number</div>
  </div>
</div> -->

<ul class="nav nav-tabs">
  <li class="active"><a href="/">Backpacks</a></li>
  <li><a href="inventory">Miscellaneous</a></li>
  <li><a href="/inventory">Merchandise</a></li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Item</th>
      <th>Vendor</th>
      <th>Quantity on Hand</th>
      <th>Date Ordered</th>
      <th>Next Shipment Date</th>
      <th>Cost</th>
      <th>Reorder Alert Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

</section>


</div>
